.title {
  display: flex;
  justify-content: center;
}

p {
  font-size: 32px; 
}

.img {
  position:left;
  left: 500px;
  width:500px;
}

.about-me-section {
  display: flex;
}

.about-me {
  padding-left: 15px;
}

.about-me > span {
  padding-left: 24px;
}

.about-me-text {
  padding-left: 24px;
}

ul > li {
  margin: 10px 0 10px 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.footer > .footer-item {
  display: block;
  padding: 10px;
  background-color: lightgray;
  border-radius: 20px;
  align-content: center;
}

.code-example {
  background-color: lightgray;
  border-radius: 15px;
  padding: 15px;
  color: crimson;
}

.avatar img {
  border-radius: 15px;
}
