html,
body {
    margin: 0;

    scroll-behavior: smooth;
    overflow-x: hidden;
}

header,
section,
footer {
    width: calc(100vw - ((100vw - 1440px) / 2));
    padding-left: calc((100vw - 1440px) / 2);
}

header {
    height: calc(200px - 76px);
    padding-top: 76px;

    background-color: #030303;
}

.logo {
    display: inline;
    height: 50px;
}

.logo-1l {
    text-decoration: none;
}

.logo-1t {
    display: inline;
    margin-left: 17px;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;

    transition-duration: 0.5s;
}

.logo-2l .logo-2t {
    color: #9d8665;

    transition-duration: 0.5s;
}

.logo-svg {
    fill: #ffffff;

    transition-duration: 0.5s;
}

.logo-link:hover .logo-2s {
    fill: #9d8665;
}

.header-1 {
    display: inline-block;
    width: 718px;
    margin: 0 0 0 522px;
    padding: 0;
}

.header-2 {
    justify-content: space-between;

    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.header-3 {
    display: inline;
}

.nav {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;

    transition-duration: 0.5s;
}

.nav-2 {
    color: #9d8665;
}

.welcome {
    position: relative;
    height: calc(750px - 114px);
    padding-top: 114px;
    background-color: #030303;
}

.welcome-h {
    position: relative;
    z-index: 1;

    margin: 0 0 26px;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
}

.welcome-s {
    display: block;
    margin-bottom: 76px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #ffffff;
}

.welcome-b {
    justify-content: center;
    align-items: center;

    display: flex;
    width: 360px;
    height: 75px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;

    background: #710707;
    border-radius: 10px;

    transition-duration: 0.5s;
}

.welcome-button:hover {
    background-color: #9d8665;
}

.welcome-bg {
    position: absolute;
    top: 0;
    left: calc(465px + ((100vw - 1440px) / 2));
    z-index: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000);, url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/refs/heads/museum/assets/img/welcome-slider/1.jpg");
}

.visiting {
    width: 1440px;
    padding-top: 75px;
}

.visiting-h {
    display: inline-block;
    width: 1440px;
    margin: 0 0 75px;
    padding-bottom: 25px;

    font-family: "Forum", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;

    border-bottom: 3px solid #710707;
}

.visiting-g {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    display: flex;
    height: 924px;
    margin-bottom: 75px;
}

.visiting-g-b {
    flex-direction: column;

    display: inline-flex;
    width: 440px;
}

.visiting-g-b-h {
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 10px;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-g-b-h-l {
    background-color: #710707;
    height: 2px;
    width: 300px;
    margin-bottom: 10px;

    transition: 1s cubic-bezier(0.9, -0.55, 0.1, 1.55);
}

.visiting-grid-block-heading:hover ~ .visiting-grid-block-heading-line {
    width: 440px;
}

.visiting-g-b-l-2 {
    margin-bottom: 10px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;

    transition-duration: 0.5s;
}

.visiting-grid-block-link-1:hover {
    color: #9d8665;
}

.visiting-grid-block-link-2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;

    transition-duration: 0.5s;
}

.visiting-grid-block-link-2:hover {
    color: #9d8665;
}

/* Explore */

.explore {
    display: flex;
    height: 863px;

    background-color: #030303;
}

.explore-content {
    width: 660px;
    margin-top: 73px;
    margin-right: 58px;
}

.explore-heading {
    margin: 0 0 76px;
    padding-bottom: 23px;

    font-family: "Forum", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 5px solid #710707;
}

.explore-paragraph {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #ffffff;
}

.explore-paragraph-line {
    display: inline-block;
    margin-bottom: 26px;
}

.yellow {
    color: #c3a479;
}

.explore-image {
    width: 720px;
    height: 700px;
    margin-top: 88px;
    background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/refs/heads/museum/assets/img/explore-slider/before.jpg");
    appearance: none;
}

.explore-image::-webkit-slider-thumb {
    appearance: none;
}

.video-section {
    height: 919px;
    padding-top: 90px;
}

.video-section-video {
    position: relative;

    margin-bottom: 40px;
}

.video-controls {
    align-items: center;

    display: inline-flex;
    width: 1440px;
    height: 85px;
    margin-top: -4px;
    background-color: #000000;
}

.video-controls-button {
    margin-top: 3px;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.video-controls-big-play-button {
    position: absolute;
    left: 610px;
    top: 202px;
    width: 220px;
    height: 220px;
}

.video-controls-big-play-button svg {
    width: 220px;
    height: 220px;
    fill: #ffffff;
}

.video-controls-button-1 {
    margin-left: 41px;
}

.video-controls-button-1,
.video-controls-button-2,
.video-controls-button-3 {
    margin-right: 41px;
}

.video-controls-button-svg {
    fill: #b3b3b3;

    transition-duration: 0.5s;
}

.video-controls-button:hover .video-controls-button-svg {
    fill: #989898;
}

.video-controls-range-1 {
    width: 820px;
    margin-right: 39px;
}

.video-controls-button-4 {
    margin-right: 20px;
}

.video-controls-range-2 {
    width: 155px;
    margin-right: 45px;
}

.video-section-text {
    display: flex;
}

.video-section-heading {
    margin: 0 115px 0 0;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
}

.video-section-paragraph {
    align-items: center;

    display: flex;
    width: 720px;
    margin: 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 39px;
    color: #000000;
}


.tickets {
    padding-top: 75px;
    height: 818px;

    background-color: #ffffff;
}

.tickets-heading {
    display: inline-block;
    width: 1440px;

    margin: 0 0 75px;
    padding-bottom: 25px;

    font-family: "Forum", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;

    border-bottom: 3px solid #710707;
}

.tickets-img-and-form {
    display: flex;
}

.tickets-img {
    margin-right: 60px;
}

.tickets-form {
    justify-content: space-between;

    display: inline-flex;
    width: 660px;
}

.tickets-form-left,
.tickets-form-right {
    flex-direction: column;

    display: inline-flex;
}

.tickets-form-left {
    justify-content: space-between;

    height: 260px;
}

.tickets-form-left-span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: #030303;
}

.tickets-form-radio-block {
    position: relative;
}

.tickets-form-radio {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 17px;
    height: 17px;
    margin: 0;

    opacity: 0%;
}

.tickets-form-radio-label {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #030303;

    transition-duration: 0.5s;

    cursor: pointer;
}

.tickets-form-radio-label::before {
    margin-right: 18px;
    color: black;

    content: url("");
}

.tickets-form-radio:checked ~ .tickets-form-radio-label::before {
    color: black;
    content: url("");
}

.tickets-form-radio-label:hover {
    color: #9d8665;
}

.tickets-form-right {
    align-items: flex-end;
}

.tickets-form-right-span {
    margin-bottom: 12px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #030303;
}

.tickets-form-number-input-block {
    flex-direction: column;

    display: flex;
}

.tickets-form-number-input-block-1 {
    margin-bottom: 36px;
}

.tickets-form-number-input-block-2 {
    margin-bottom: 50px;
}

.tickets-form-number-input-span {
    margin-bottom: 13px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #030303;
}

.tickets-form-number-input {
    align-items: center;
    justify-content: space-around;

    display: inline-flex;
    width: 150px;
    height: 50px;

    border: 3px solid #030303;
    box-sizing: border-box;
}

.tickets-form-number-input-element {
    color: #030303;
}

.tickets-form-number-input-input {
    width: 30px;

    font-size: 22px;
    text-align: center;

    background: none;
    border: none;
    outline: none;
}

.tickets-form-number-input-input::-webkit-outer-spin-button,
.tickets-form-number-input-input::-webkit-inner-spin-button {
    appearance: none;
}

.tickets-form-number-input-button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 37px;

    border: none;
    outline: none;
    background: none;

    transition-duration: 0.5s;

    cursor: pointer;
}

.tickets-form-number-input-button:hover {
    color: #030303;
}

.tickets-form-right-total-span {
    margin-bottom: 50px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 1.65px;
    color: #000000;
}

.tickets-form-right-buy-button {
    align-items: center;
    justify-content: center;

    display: flex;
    width: 175px;
    height: 50px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #ffffff;

    background: #000000;
    border-radius: 2px;
    border: none;
    outline: none;

    transition-duration: 0.5s;

    cursor: pointer;
}

.tickets-form-right-buy-button:hover {
    background-color: #000000;
    border-radius: 0;
}

.contacts {
    height: 888px;
    padding-top: 75px;
}

.contacts-heading {
    display: inline-block;
    width: 1440px;
    margin: 0 0 75px;
    padding-bottom: 25px;

    font-family: "Forum", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;

    border-bottom: 3px solid #710707;
}

.contacts-content {
    display: flex;
}

.contacts-address {
    flex-direction: column;

    display: flex;
    margin-top: 9px;
    margin-right: 202.5px;
}

.contacts-address-title {
    display: inline-block;
    margin-bottom: 37px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

.contacts-address-data {
    margin-bottom: 20px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

footer {
    display: flex;
    height: 223px;
    padding-top: 77px;

    background-color: #030303;
}

.footer-logo {
    margin-right: 145px;
}

.footer-logo-link {
    text-decoration: none;
}

.footer-logo-text {
    display: inline;
    margin-left: 17px;

    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;

    transition-duration: 0.5s;
}

.footer-logo-link:hover .footer-logo-text {
    color: #9d8665;
}

.footer-logo-svg {
    fill: #ffffff;

    transition-duration: 0.5s;
}

.footer-logo-link:hover .footer-logo-svg {
    fill: #9d8665;
}

.footer-nav {
    width: 363px;
    margin-right: 401px;
}

.footer-nav-wrapper {
    justify-content: space-between;

    display: inline-flex;
    width: 363px;
}

.footer-nav-first-column,
.footer-nav-second-column {
    flex-direction: column;

    display: inline-flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.footer-nav-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;

    transition-duration: 0.5s;
}

.footer-nav-link:hover {
    color: #9d8665;
}

.footer-social-icons {
    justify-content: space-between;

    display: inline-flex;
    width: 336px;
    margin-top: 85px;
    margin-bottom: 0;
    padding: 0;

    list-style-type: none;
}

.footer-social-icons-li {
    display: inline;
    height: auto;
}

.footer-social-icons-link {
    text-decoration: none;
}

.footer-social-icons-link svg {
    border-radius: 50%;
    border: 1px solid #ffffff;

    transition-duration: 0.5s;

    fill: #ffffff;
}

.footer-social-icons-link:hover svg {
    border-color: #a47e1b;
    fill: #a47e1b;
}
.div {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 100;
    display: inline-block;
    width: 82px;
    height: 22px;
}
.username {
    position: absolute;
    top: 0px;
    left: 1327px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 100;
    display: inline-block;
    width: 113px;
    height: 22px;
}
.the-rolling-scopes {
    position: absolute;
    top: 0px;
    left: 570px;
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 100;
    display: inline-block;
    width: 300px;
    height: 22px;
}
.last-string {
    width: 100%;
    position: absolute;
    height: 24px;
    text-align: left;
    font-size: 22px;
    color: #000000;
    font-family: Roboto;
}
.bg-icon {
    position: relative;
    top: 0px;
    left: -240px;
    width: 1920px;
    height: 2200px;
    background-color:black;
}
.galery12-1-icon {
    position: absolute;
    top: 1769px;
    left: 984px;
    width: 456px;
    height: 342px;
    object-fit: cover;
}
.galery5-1-icon {
    position: absolute;
    top: 1833px;
    left: 492px;
    width: 456px;
    height: 292px;
    object-fit: cover;
}
.galery6-1-icon {
    position: absolute;
    top: 1883px;
    left: 0px;
    width: 456px;
    height: 242px;
    object-fit: cover;
}
.galery4-1-icon {
    position: absolute;
    top: 1403px;
    left: 0px;
    width: 456px;
    height: 456px;
    object-fit: cover;
}
.galery3-1-icon {
    position: absolute;
    top: 1239px;
    left: 492px;
    width: 456px;
    height: 570px;
    object-fit: cover;
}
.galery15-1-icon {
    position: absolute;
    top: 1289px;
    left: 984px;
    width: 456px;
    height: 456px;
    object-fit: cover;
}
.galery1-1-icon {
    position: absolute;
    top: 165px;
    left: 492px;
    width: 456px;
    height: 456px;
    object-fit: cover;
}
.galery2-1-icon {
    position: absolute;
    top: 215px;
    left: 0px;
    width: 456px;
    height: 570px;
    object-fit: cover;
}
.galery7-1-icon {
    position: absolute;
    top: 215px;
    left: 984px;
    width: 456px;
    height: 570px;
    object-fit: cover;
}
.galery8-1-icon {
    position: absolute;
    top: 645px;
    left: 492px;
    width: 456px;
    height: 570px;
    object-fit: cover;
}
.galery9-1-icon {
    position: absolute;
    top: 809px;
    left: 0px;
    width: 456px;
    height: 570px;
    object-fit: cover;
}
.galery10-1-icon {
    position: relative;
    top: 809px;
    left: 984px;
    width: 456px;
    height: 456px;
    object-fit: cover;
}
.frame-child {
    position: absolute;
    top: 1765px;
    left: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000);
    width: 1440px;
    height: 360px;
}
.art-gallery1 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 5px;
    line-height: 90px;
    text-transform: uppercase;
    display: inline-block;
    width: 518px;
}
.frame {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 1440px;
    height: 2125px;
}
.art-gallery {
    width: 100%;
    position: relative;
    height: 2200px;
    text-align: left;
    font-size: 80px;
    color: #fff;
    font-family: Forum;
}

